Options -MultiViews
RewriteEngine On

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.sanyser\.com\.ar [NC]
RewriteRule ^(.*)$ https://sanyser.com.ar/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]
